@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&family=Yeseva+One&display=swap');
.pt-90{
    padding-top: 90px;
}
.pt-50{
    padding-top: 50px;
}
.mb-30{
    margin-bottom: 30px;
 }
 .mb-70{
     margin-bottom: 70px;
 }
 .pb-70{
     padding-bottom: 50px;
 }
.text-center{
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.btn{
    background-color: #FF5959;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 40%;
    margin: 0 5% 0 5%;
}
.hero-img img {
    width: 85%;
}
h2.title-text {
    font-size: 60px;
    text-transform: capitalize;
    line-height: 80px;
    margin-bottom: 15px;
    font-family: 'Yeseva One', cursive;
    border-left: 4px solid #FF5959;
    padding-left: 15px;
    border-radius: 4px;
}

.orngColor{
    color: #FFAD5A;
}
.hero-title p {
    font-size: 18px;
    line-height: 28px;
    padding-right: 25px;
    margin-bottom: 30px;
}
.hero-title small {
   display: block;
   margin-top: 30px;
}
.title-one {
    font-size: 48px;
    /* line-height: 70px; */
}
.section-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.single-mission img {
    height: 140px;
    width: 140px;
}
.mission-one{
    background-color: #F1F9FA;
}
.mission-two{
    background-color: #FFEEEE;
    margin-left: 2%;
    margin-right: 2%;
}
.mission-three{
    background-color: #FFF4D6;
}
.single-mission {
    width: 28%;   
    padding: 20px;
    border-radius: 10px;
}
.single-mission h4 {
    margin: 0;
    font-size: 24px;
}
.develop-area{
    background-image: url(img/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15%;
}
.section-text {
    padding-top: 15px;
}
.section-img img {
    width: 400px;
    height: 400px;
    margin-right: 70px;
}

.title-two h2 {
    font-size: 36px;
    margin-bottom: 0;
}

.section-text p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 35px;
    padding-right: 40px;
    
}
.community-area{
    background-image: url(img/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 15%;
}



.app-img img {
    width: 95%;
    margin-left: 100px;
}
.app-text{
    padding-top: 180px;
    margin-left: 90px;
}




.blog-area{
    background-color: #F0F4FF;
    
}
.single-mission.blog {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
}
.single-mission.blog img {
    width: 100%;
    height: auto;
}
.single-mission.blog a {
    display: inline-block;
    margin-bottom: 14px;
}
.footer-area {
    background-color: black;
    color: white;
    padding: 40px 0px;
}
.footer-area h2{
    margin: 0;
    padding-bottom: 15px;
    font-size: 36px;
    font-family: 'Yeseva One', cursive;
}
.footer-area p{
    margin: 0;
}